.meet-our-team{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway';
    font-size: clamp(32px, 5vw, 42px);
    font-weight: 600;
}
.describtion-first-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
    font-size: clamp(16px, 5vw, 24px);
    font-weight: 200;
    margin-bottom: 55px;
}
.flexbox-first-page{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.flexbox-text-first-page{
    display: flex;
    flex-direction: column;
}
.first-page-text{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: clamp(16px, 5vw, 24px);
}
.first-page-text-bottom{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: clamp(16px, 5vw, 24px);
    color: #80250f;
}
@media(max-width:1400px){
    .flexbox-first-page{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .raleigh{
        margin-left: 200px;
    }
}
@media(max-width:1051px){
    .raleigh{
        margin-left: 600px;
    }
}
@media(max-width:600px){
    .roy-raleigh{
        width: 270px;
        height: 373px;
    }
    .andrew-milburn{
        width: 270px;
        height: 373px;
    }
    .kaylie-albie{
        width: 270px;
        height: 373px;
    }
}
@media(max-width:380px){
    .raleigh{
        margin-left: 770px;
    }
}
.photo-describition{
    margin-top: 7px;
    display: flex;
    width: 325px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: clamp(12px, 5vw, 18px);
    color: rgb(78, 78, 78);
}